.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: -1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  background: linear-gradient(0.25turn, #093f01, #6fa148, #a30822);
}

.right {
  right: 0;
  background: linear-gradient(0.25turn, #a30822, #6fa148, #093f01);
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.controlBar {
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  width: 235px;
  position: relative;
  border: rgb(75, 3, 75);
}

.img {
  width: 200px;
  margin-top: 20%;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: 42%;
  position: relative;
}

.active {
  z-index: 1;
}

.hidden {
  z-index: -1;
}
